@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body,*{
    font-family: 'Rajdhani', sans-serif;

}
input{
    font-family: 'Rajdhani', sans-serif;
}

.font-mark{
    font-family: 'Marck Script', cursive !important;
}
*:focus {
    outline: none !important;
    border: 0 !important;
}