<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold text-secondary" href="#">T4C Language Generator</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" [matMenuTriggerFor]="menu"
          aria-haspopup="true" aria-expanded="false" [ngClass]="{'disabled': clipboard.length==0 }">
          <i class="far fa-clipboard"></i> My Clipboard
        </a>

        <mat-menu #menu="matMenu" aria-labelledby="navbarDropdown" class="p-0 pr-1 pl-1" overlapTrigger="false">



          <ng-template matMenuContent>


            <mat-selection-list #clipboardItems>
              <mat-list-option appClickStopPropagation *ngFor="let item of clipboard" color="warn" [selected]="true"
                [checkboxPosition]="before">
                #{{item.languageId}} {{item.value}}
              </mat-list-option>
            </mat-selection-list>
            <div class="text-center">
              <hr>
              Item selected: {{clipboardItems.selectedOptions.selected.length}}
            </div>
            <div class="text-center">
              <button mat-button>Copy all</button>
              <button mat-button>Clear all</button>
            </div>
          </ng-template>


        </mat-menu>

      </li>
    </ul>
  </div>
</nav>
